  <a href="/movies">Go back</a>
  <div class="details">
    <img class="detal-image" width="200px" src="{{this.image}}" alt="{{this.title}}" />
    <div class="detail-letters"
  
  <h2>{{ this.title }}</h2>

  <h3>Director: {{ this.director }}</h3>

  <h3>Stars:</h3>
  <ul>
    {{#each stars }}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <p>Description: {{ this.description }}</p>
  {{#each showtimes}}
    {{this}} |
  {{/each}}
  </div>
  </div>
  

  