  <a href="/movies">Go back</a>
  <h1>{{ this.title }}</h1>

  <p>Director: {{ this.director }}</p>

  <p>Stars: {{ this.stars }}</p>
  <p>Description: {{ this.description }}</p>
  <p> {{this.showtimes}}</p>
  <img width="200px" src="{{this.image}}" alt="{{this.title}}" />

  